.notes-container {
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  /*  animation: slide-down 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; */

  p {
    width: 100%;
    font-size: 18px;
    padding: 30px 20px;
    hyphens: auto;
    height: auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  }

  .actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    border-radius: 0 12px 12px 0;

    i {
      display: flex;
      width: 100%;
      height: 50%;
      padding: 20px 25px;
      font-size: 20px;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &::before {
        align-self: center;
      }

      &:hover {
        cursor: pointer;
      }

      &:first-child {
        border-bottom: 1px solid #bebebe;
        border-radius: 0px 12px 0px 0px;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      &:nth-child(2) {
        border-radius: 0px 0px 12px 0px;

        &:hover {
          background-color: rgb(49, 9, 9);
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .notes-container {
    p {
      padding: 15px 10px;
    }

    .actions-container {
      i {
        padding: 10px 12px;
      }
    }
  }
}

/* @keyframes slide-down {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
} */
