.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 70vh;
  margin-top: 200px;

  .heroText {
    display: flex;
    flex-direction: column;

    .aboveText {
      letter-spacing: 5px;
      margin-left: 9px;
      opacity: 1;
      color: #aa9a82;
      margin-bottom: 10px;
      font-weight: bold;
    }

    h1 {
      font-size: 120px;
    }

    p {
      font-size: 24px;
      max-width: 700px;
      margin: 10px 0px 60px 0;
      font-family: "Roboto", sans-serif;
    }

    .heroButton {
      border: none;
      outline: none;
      padding: 15px 25px;
      border-top: 1px solid #aeaeae;
      border-bottom: 1px solid #aeaeae;
      font-weight: bold;
      letter-spacing: 5px;
      width: 300px;
      text-align: center;
      text-transform: uppercase;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }

    .line-going-down {
      border-left: 1px solid #6b6969;
      margin-top: 150px;
      height: 100%;
      position: relative;

      .arrow-pointer {
        position: absolute;
        height: 10px;
        width: 10px;
        border-right: 1px solid #6b6969;
        border-bottom: 1px solid #6b6969;

        bottom: 0;
        left: -6px;
        transform: rotateZ(45deg);
      }
    }
  }

  .heroImage {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: 200px;

    img {
      height: 85vh;
    }
  }
}
