.default-button {
  border: none;
  outline: none;
  padding: 15px 25px;
  border-radius: 6px;
  max-width: 250px;
  max-height: 50px;
  font-family: "Roboto", sans-serif;

  i {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
  }
}
