.notes-component {
  .notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .note-creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both;

    textarea {
      border: none;
      outline: none;
      font-family: "Roboto", sans-serif;
      margin-top: 20px;
      margin-bottom: 15px;
      padding: 20px 30px;
      border-radius: 12px;
      font-size: 18px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
      resize: vertical;
    }

    .textarea-button-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      button:first-child {
        margin-right: 10px;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
