.app {
  padding: 20px 350px 0px 350px;
  background-color: #faf6f3;
  min-height: 100vh;
}

@media screen and (max-width: 1800px) {
  .app {
    padding: 20px 250px 0px 250px;
  }
}

@media screen and (max-width: 1550px) {
  .app {
    padding: 20px 150px 0px 150px;
  }
}
@media screen and (max-width: 1375px) {
  .app {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 1200px) {
  .app {
    padding: 20px 50px 0px 50px;
  }
}
@media screen and (max-width: 900px) {
  .app {
    padding: 25px 25px 0px 25px;
  }
}
@media screen and (max-width: 500px) {
  .app {
    padding: 10px 10px 0px 10px;
  }
}
